@model Web_gellary.Models.UpdatePassword

@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;
    options.UpdateTargetId = "divContainer";
}

@using (Ajax.BeginForm("EditPassword", "Edit", options))
{
    @Html.AntiForgeryToken()
    <div class="header-form">
        <h4>Edit Password</h4>
    </div>

    <div class="field">
        <div class="lable">
            @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "" })
        </div>
        <div class="input">
            <div class="password">
                <div class="field-password">
                    @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { placeholder = "Old Password", @class = "password-view" } })
                    <div class="view"><i class="fa fa-eye"></i></div>
                </div>
            </div>
        </div>
        <div class="message">
            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "decoration-message" })
        </div>
    </div>

    <div class="field">
        <div class="lable">
            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "" })
        </div>
        <div class="input">
            <div class="password">
                <div class="field-password">
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { placeholder = "New Password", @class = "password-view" } })
                    <div class="view"><i class="fa fa-eye"></i></div>
                </div>
            </div>
        </div>
        <div class="message">
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "decoration-message" })
        </div>
    </div>

    <div class="field">
        <div class="lable">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "" })
        </div>
        <div class="input">
            <div class="password">
                <div class="field-password">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { placeholder = "Confirm Password", @class = "password-view" } })
                    <div class="view"><i class="fa fa-eye"></i></div>
                </div>
            </div>
        </div>
        <div class="message">
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "decoration-message" })
        </div>
    </div>
        <div class="button-edit">
            <input type="submit" value="Edit Password" />
        </div>
        
        <span class="edit-message-password">@ViewBag.Message</span>
}
<script src="~/Scripts/password.js"></script>