@{
    ViewBag.Title = "Users";
    Layout = "~/Views/_Layout.cshtml";
}

@section head {
    <script src="~/Scripts/users-view.js"></script>
    <link href="~/Styles/users-list-style.css" rel="stylesheet" type="text/css" />
}

<div class="list-users">
    
</div>
<div class="block-filter">
    <div class="search">
        <div>@Resources.Resource.Search</div>
        <div>
            <label>@Resources.Resource.Nick<input type="text" class="nick-filter" /></label>
        </div>
    </div>
    <div class="filter">
        <div>@Resources.Resource.Filter</div>
        <div>
            <label><input type="checkbox" class="online-filter" /> @Resources.Resource.NowOnline</label>
        </div>
        <div>
            <label><input type="checkbox" class="avatar-filter" /> @Resources.Resource.WithAvatar</label>
        </div>
    </div>
    <div class="order">
        <div>@Resources.Resource.Order</div>
        <div>
            <label><input type="checkbox" class="popular-filter" /> @Resources.Resource.Popular</label>
        </div>
    </div>
</div>