@model Web_gellary.Models.LoginModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

@section head {
    <link href="~/Styles/login.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/password.js"></script>
}

<div id="menu">
    <ul id="link-menu">
        <li><a href="/Account/Login"><i class="fa fa-sign-in"></i>Login</a></li>
        <li><a href=""><i class="fa fa-users"></i>Users</a></li>
        <li><a href=""><i class="fa fa-history"></i>History</a></li>
    </ul>
</div>
<div id="content">
    @using (Html.BeginForm("Login", "Account", new { enctype = "multipart/form-data" }, FormMethod.Post, htmlAttributes: new { @class = "form-login-user" }))
    {
        @Html.AntiForgeryToken()
        <h4>Login</h4>
        <hr />
        <div class="field">
            <div class="lable">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "" })
            </div>
            <div class="input">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Email", @class = "" } })
            </div>
        </div>

        <div class="field">
            <div class="lable">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "" })
            </div>
            <div class="password">
                <div class="field-password">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Password", @class = "password-view" } })
                    <div class="view"><i class="fa fa-eye"></i></div>
                </div>
            </div>
        </div>
        <div class="button-form">
            <input type="submit" value="Login" />
            <a href="@Url.Action("Registration", "Account")">Registration</a>
        </div>
    }
</div>
