@model Web_gellary.Models.AccountModel

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/_Layout.cshtml";
}

@section head {
    <link href="~/Styles/login.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/password.js"></script>
}

@using (Html.BeginForm(Html.BeginForm("Registration", "Account", new { enctype = "multipart/form-data" }, FormMethod.Post, htmlAttributes: new { @class = "form-registration-user" })))
{
    @Html.AntiForgeryToken()

    <div class="">
        <h4>Registration</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "" })
        <div class="field">
            <div class="lable">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "" })
            </div>
            <div class="input">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Email", @class = "" } })
            </div>
            <div class="message">
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "decoration-message" })
            </div>
        </div>

        <div class="field">
            <div class="lable">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "" })
            </div>
            <div class="input">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { placeholder = "Username", @class = "" } })
            </div>
            <div class="message">
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "decoration-message" })
            </div>
        </div>

        <div class="field">
            <div class="lable">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "" })
            </div>
            <div class="input">
                <div class="password">
                    <div class="field-password">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Password", @class = "password-view" } })
                        <div class="view"><i class="fa fa-eye"></i></div>
                    </div>
                </div>
            </div>
            <div class="message">
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "decoration-message" })
            </div>
        </div>
        <div class="field">
            <div class="lable">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "" })
            </div>
            <div class="input">
                <div class="password">
                    <div class="field-password">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { placeholder = "Confirm Password", @class = "password-view" } })
                        <div class="view"><i class="fa fa-eye"></i></div>
                    </div>
                </div>
            </div>
            <div class="message">
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "decoration-message" })
            </div>
        </div>
        <div class="button-form">
            <input type="submit" value="Registration" />
        </div>
    </div>
}           