<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Styles/normalize.css" rel="stylesheet" type="text/css" />
    <link href="~/Styles/layout.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="~/Scripts/scrollup.js"></script>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Moderator"))
        {
            <script src="~/Scripts/count-query.js"></script>
        }
        if (User.IsInRole("User"))
        {
            <script src="~/Scripts/count-answers.js"></script>
        }
    }
    @RenderSection("head", required: false)
</head>
<body>
    <header class="clearfix">
        <a href="/Home/Index"><h1>E-Gallery</h1></a>
    </header>
    <main class="clearfix">
        <div id="menu">
            <ul id="link-menu">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="link-page"><a href="/Gallery/Home/@User.Identity.Name"><i class="fa fa-user"></i>@Resources.Resource.Profile</a></li>
                    <li class="link-page"><a href="/Gallery/Users"><i class="fa fa-users"></i>@Resources.Resource.Users</a></li>
                    <li class="link-page"><a href="/Gallery/History"><i class="fa fa-history"></i>@Resources.Resource.History</a></li>
                    if (User.IsInRole("User"))
                    {
                        <li class="link-page"><a href="/Image/Answers"><i class="fa fa-bell-o"></i>@Resources.Resource.Answers <span id="count-answer"></span></a></li>
                    }
                    else
                    {
                        <li class="link-page"><a href="/Image/Query"><i class="fa fa-comment-o"></i>@Resources.Resource.Query <span id="count-query"></span></a></li>
                    }
                    <li class="link-page"><a href="/Account/Logout"><i class="fa fa-sign-out"></i>@Resources.Resource.Logout</a></li>
                }
                else
                {
                    <li class="link-page"><a href="/Account/Login"><i class="fa fa-sign-in"></i>@Resources.Resource.Login</a></li>
                    <li class="link-page"><a href="/Gallery/Users"><i class="fa fa-users"></i>@Resources.Resource.Users</a></li>
                    <li class="link-page"><a href="/Gallery/History"><i class="fa fa-history"></i>@Resources.Resource.History</a></li>
                }
            </ul>
        </div>
        <div id="content">
            @RenderBody()
        </div>
    </main>
    <a href="#" class="scrollup"></a>
    <footer>
        <div>&copy;Kama, 2017</div>
    </footer>   
</body>
</html>